*,
*::before,
*::after {
  box-sizing: border-box;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
a {
  text-decoration: none;
}

ul,
ul,
li {
  padding: 0;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
}

body {
  // min-height: 100vh;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  color: var(--prime-color);
}

img {
  max-width: 100%;
  display: block;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

section {
  padding: 94px 0;
}
button {
  padding: 0;
}
