.modal {
  position: fixed;
  width: 450px;
  height: 609px;
  @media screen and (max-width: 479px) {
    width: 90vw;
    height: 90vh;
  }
  border-radius: 4px;
  background-color: #fff;
  z-index: 1;
  box-shadow:
    0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal_btn_close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  border-radius: 50%;

  cursor: pointer;
}

.btn_close_icon {
  width: 18px;
  height: 18px;
  display: flex;
  transition: fill 250ms var(--cubic);

  .modal_btn_close:hover &,
  .modal_btn_close:focus & {
    fill: var(--accent-color);
  }
}
